.card-about{
    border-radius: 15px;
}

.icon{
    font-size: 30px;
    color: #6dd3ce;
}

i:hover{
    color: #ffcab1
}

p{
    font-size: 24px;
}

.mt-100{
    margin-top: 100px;
}

.mb-70{
    margin-bottom: 30px;
}