<div class="row d-flex justify-content-center mt-5">
  <div class="col-md-8 text-justify">
    <h4 class="text-center">O que é a askMarinho?</h4>
    <p>Pensando um pouco sobre os impactos que a negligência de informações sobre educação sexual traz para o nosso
      dia-a-dia na sociedade, a AskMarinho chega com o intuito de democratizar essas informações por meio de fontes
      seguras e confiáveis de uma forma completamente didática e acolhedora, quebrando o grande tabu em torno de
      assuntos relacionados a sexo.</p>
    <h4 class="text-center">Como a askMarinho fará isso?</h4>
    <p>Pensando em plataformas inclusivas, a única coisa que vem em mente é: rede social. Com um olhar focado em
      discussões construtivas, verificação de informações, conexões e trocas de experiências, nós pensamos em uma rede
      social onde exista prioritariamente dois tipos de usuário:</p>
    <h5 class="text-center">Usuário com dúvidas:</h5>
    <p>O usuário com dúvidas irá acessar a plataforma e fazer um login. Ao buscar por tópicos específicos, ele poderá
      tirar suas dúvidas. Além disso, ele poderá criar novos tópicos de discussão com novas dúvidas, como também poderá
      interagir e comentar em outros tópicos e a melhor parte: ele terá a opção de comentar com seu nome de perfil ou
      anonimamente. Dando ao usuário total conforto e segurança para tirar suas dúvidas sem receios.</p>
    <h5 class="text-center">Usuário verificado:</h5>
    <p>O usuário com resposta será um profissional verificado que também irá acessar nossa plataforma e fazer um login.
      É através desse usuário verificado (e de um sistema de moderação de conteúdo para filtrar as postagens), que a
      grande maioria das dúvidas serão respondidas na plataforma. Trazendo muito mais credibilidade e confiança na hora
      dos usuários com dúvidas buscarem por suas respostas.</p>
  </div>
</div>

<div class="row d-flex justify-content-center mb-5">
  <div class="col-md-12 d-flex flex-direction-row justify-content-around">

    <!-- amanda -->
    <div class="card card-about mt-5" style="width: 20rem;">
      <img class="card-img-top" style="border-radius: 15px;" src="https://i.imgur.com/X9S05K3.jpg" alt="Amanda">
      <div class="card-body">
        <h5 class="card-title text-center">Amanda Rulevas</h5>
        <p class="card-text text-justify">
          Descendente de lituanos, espanhóis e italianos, gosta de fazer trilha, ler, jogos de tabuleiro e criar coisas
          novas (principalmente se for um equipamento para acampar, sempre inovando com materiais ou ferramentas novas).
          Ama animais, tem duas gatas que são suas companheiras para tudo, e adora seu piano, onde se enterra nas
          músicas clássicas e rock anos 80.
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-center"><em>Scrum Master<br>Desenvolvedora Fullstack</em></li>
      </ul>
      <div class="card-body d-flex justify-content-around">
        <a href="https://www.linkedin.com/in/rulevamanda" target="_blank" class="card-link">
          <i class="fa fa-linkedin icon" aria-hidden="true"></i>
        </a>
        <a href="https://github.com/rulevamanda" target="_blank" class="card-link">
          <i class="fa fa-github icon" aria-hidden="true"></i>
        </a>
      </div>
    </div>

    <!-- antonio -->
    <div class="card card-about mt-5" style="width: 20rem;">
      <img class="card-img-top" style="border-radius: 15px;" src="https://i.imgur.com/zCZr7mm.jpg" alt="Antonio">
      <div class="card-body">
        <h5 class="card-title text-center">Antonio Lucas</h5>
        <p class="card-text text-justify">

        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-center"><em>Desenvolvedor Fullstack</em></li>
      </ul>
      <div class="card-body d-flex justify-content-around">
        <a href="https://www.linkedin.com/in/antlucas/" target="_blank" class="card-link">
          <i class="fa fa-linkedin icon" aria-hidden="true"></i>
        </a>
        <a href="https://github.com/AntLucas" target="_blank" class="card-link">
          <i class="fa fa-github icon" aria-hidden="true"></i>
        </a>
      </div>
    </div>

    <!-- bueno -->
    <div class="card card-about mt-5" style="width: 20rem;">
      <img class="card-img-top" style="border-radius: 15px;" src="https://i.imgur.com/YM46x9L.jpg" alt="Bueno">
      <div class="card-body">
        <h5 class="card-title text-center">Bueno Vital</h5>
        <p class="card-text text-justify">
          Bueno gosta bastante de ajudar as pessoas e encarar novos desafios, sendo esse um dos motivos pelo qual o
          interesse em trabalhar com desenvolvimento lhe foi despertado. Lhe fascina o poder que a tecnologia tem em
          transformar, impactar e mudar a vida das pessoas. Seus amigos e familiares costumam lhe dizer que o veem como
          uma pessoa calma, responsável, paciente e empática.
          Em seu tempo livre, ele gosta de ir ao parque, andar de bicicleta e conhecer novos lugares, tudo isso ao som
          de
          um bom MPB. Ele curte também uma boa sessão-sofá com pipoca e um bom filme.
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-center"><em>Desenvolvedor Fullstack</em></li>
      </ul>
      <div class="card-body d-flex justify-content-around">
        <a href="https://www.linkedin.com/in/bueno-vital/" target="_blank" class="card-link">
          <i class="fa fa-linkedin icon" aria-hidden="true"></i>
        </a>
        <a href="https://github.com/vjbueno" target="_blank" class="card-link">
          <i class="fa fa-github icon" aria-hidden="true"></i>
        </a>
      </div>
    </div>

  </div>
</div>

<div class="row d-flex justify-content-center mb-5">
    <div class="col-md-12 d-flex flex-direction-row justify-content-around">
  
    <!-- matheus -->
    <div class="card card-about mt-5" style="width: 20rem;">
      <img class="card-img-top" style="border-radius: 15px;" src="https://i.imgur.com/rGrXUnS.jpg" alt="Matheus">
      <div class="card-body">
        <h5 class="card-title text-center">Matheus Rosas</h5>
        <p class="card-text text-justify">
          Desde pequeno foi muito curioso, perfeccionista e adorava questionar quaisquer premissas às quais era
          exposto, por mais ínfimas que fossem. Matheus criança adorava Sudoku e durante essa infância divertida
          aprendeu a solucionar problemas com facilidade. Hoje é formado como Desenvolvedor Java Júnior Fullstack pela
          Generation Brasil e Técnico em Desenvolvimento de Sistemas pela ETEC de Guarulhos e se sinto apto para
          entrar no mercado e usar a tecnologia para melhorar a vida de milhares de pessoas.
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-center"><em>Desenvolvedor Fullstack</em></li>
      </ul>
      <div class="card-body d-flex justify-content-around">
        <a href="https://www.linkedin.com/in/marcos-matheus/" target="_blank" class="card-link">
          <i class="fa fa-linkedin icon" aria-hidden="true"></i>
        </a>
        <a href="http://github.com/Matheus251170" target="_blank" class="card-link">
          <i class="fa fa-github icon" aria-hidden="true"></i>
        </a>
      </div>
    </div>

    <!-- chelle -->
    <div class="card card-about mt-5" style="width: 20rem;">
      <img class="card-img-top" style="border-radius: 15px;" src="https://i.imgur.com/WSNZZVK.jpg" alt="Chelle">
      <div class="card-body">
        <h5 class="card-title text-center">Michelle Bernardo</h5>
        <p class="card-text text-justify">
          Recentemente formada como Desenvolvedora Fullstack Java Junior pela Generation Brasil. Michelle é nascida e
          criada em São Paulo, tem 24 anos e mora com seus pais, irmãos e seu cachorrinho Sasuke na Zona Leste da
          Capital. Muito curiosa e expansiva, gosta sempre de estar em movimento e aprendendo coisas novas. Sua paixão
          por tecnologia é de longa data e hoje ela segue seu caminho à procura de novos desafios e experiências na
          área da tecnologia.
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-center"><em>Desenvolvedora Fullstack<br>Designer Gráfica</em></li>
      </ul>
      <div class="card-body d-flex justify-content-around">
        <a href="https://www.linkedin.com/in/michellebernardo" target="_blank" class="card-link">
          <i class="fa fa-linkedin icon" aria-hidden="true"></i>
        </a>
        <a href=" https://github.com/chellebernardo" target="_blank" class="card-link">
          <i class="fa fa-github icon" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</div>