.navbar-bg {
  background-color: #6DD3CE;
}

.icon-nav {
  height: 50px;
  width: 50px;
}

.navbar-brand {
  color: #BAF2E9;
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px;
  margin-left: 30px;
}

.navbar-brand:hover{
    color: #95DCD1;
}

.input-style{
    width: 380px;
    height: 45px;
}

.lupa {

  color: #BAF2E9;
}

.dropdown-menu {
  border: none;
}

.dropdown-item{
  background-color: #6DD3CE;
  color: #BAF2E9;
}

.dropdown-item:hover{
  background-color: #95DCD1;
}