<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid justify-content-space-evenly">

    <!-- ícone do marinho -->
    <div class="container-fluid justify-content-start">
      <img src="../../assets/img/navbar/marinho-navbar.svg" alt="logo marinho" class="icon-nav">

      <!-- escrito marinho -->
      <a class="navbar-brand" href="#">ASKMARINHO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="container-fluid justify-content-center">
    <!-- pesquisa no meio -->
    <form class="d-flex">
      <input class="form-control me-2 input-style" type="search" placeholder="pesquisar" aria-label="pesquisar">
      <button class="btn" type="submit">
        <i class="fa fa-search lupa" aria-hidden="true"></i>
      </button>
    </form>
  </div>

  <div class="container-fluid justify-content-end">
    <!-- foto de perfil -->
    <img class="mr-0" src="../../assets/img/navbar/jessica silva 4.svg" alt="foto de perfil">

    <!-- engrenagem -->
    <ul class="mt-3">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        <img class="mr-auto" src="../../assets/img/navbar/engrenagem.svg" alt="engrenagem">
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="#">editar perfil</a></li>
        <li><a class="dropdown-item" href="#">tags</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">sair</a></li>
      </ul>
    </ul>

    <!-- lua -->
    <img class="mr-2" src="../../assets/img/navbar/moon.svg" alt="lua">

    <!-- toggle -->
    <img src="../../assets/img/navbar/dark-mode.svg" alt="dark mode toggle">
  </div>
  </div>
</nav>










<!-- <nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid ">
    <img src="../../assets/img/navbar/marinho-navbar.svg" alt="logo marinho" class="icon-nav">
    <a class="navbar-brand mr-auto" href="#">ASKMARINHO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="pt-3 d-flex justify-content-space-evenly">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul>
          <form class="d-flex flex-start">
            <input class="form-control mr-2" type="search" placeholder="pesquisa" aria-label="pesquisa">
            <button class="btn p-0 mb-0 mt-0" type="submit">
              <i class="fa fa-search lupa" aria-hidden="true"></i>
            </button>
          </form>
        </ul>
        <ul>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <img src="../../assets/img/navbar/engrenagem.svg" alt="engrenagem">
            </a>
            <ul class="dropdown-menu ml-auto" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">editar perfil</a></li>
              <li><a class="dropdown-item" href="#">editar tags</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">sair</a></li>
            </ul>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
              <img src="../../assets/img/navbar/moon.svg" alt="">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
              <img src="../../assets/img/navbar/dark-mode.svg" alt="">
            </a>
          </li>
        </ul>
      </div>
    </ul>
  </div>
</nav> -->