.navbar-bg {
    background-color: #6DD3CE;
}

.icon-nav {
    height: 50px;
    width: 50px;
}

.txt-marinho {
    color: #BAF2E9;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;
}

.txt-marinho:hover {
    color: #95DCD1;
    text-decoration: none;
}

.lupa {
  color: #ffffff;
}

.dropdown-menu {
    border: none;
    background-color: #6DD3CE;
}

a.dropdown-item {
    background-color: #6DD3CE;
    color: #ffffff;
    font-size: 15px;
}

a.dropdown-item:hover {
    background-color: #95DCD1;
}

.btn {
    border: none;
}

li {
    list-style-type: none;
}

a {
    cursor: pointer;
}

.mr-100 {
    margin-right: 100px;
}


i.white{
  color: white;
}

.ml-100 {
    margin-right: 100px;
}
