<nav class="navbar navbar-bg navbar-expand-lg navbar-dark fixed-top">

    <img src="../../assets/img/navbar/marinho-navbar.svg" alt="logo marinho" class="icon-nav mr-2 ml-2">
    <a class="txt-marinho" routerLink="/home">ASKMARINHO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">

        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-0 text-center">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-cog" aria-hidden="true" style="font-size: 30px;"></i>
                    <i style="font-size: 20px; margin-right: 15px;"> CONFIG</i>
                </a>
                <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/profile">Meu Perfil</a>
                    <a class="dropdown-item" [routerLink]="['/user-edit', idUser]">Editar perfil</a>
                    <div class="dropdown-divider"></div>
                    <a (click)='sair()' class="dropdown-item">Sair</a>
                </div>
            </li>
        </ul>
    </div>

</nav>