<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid justify-content-space-evenly">

    <!-- ícone do marinho -->
    <div class="container-fluid justify-content-start">
      <img src="../../assets/img/navbar/marinho-navbar.svg" alt="logo marinho" class="icon-nav">

      <!-- escrito marinho -->
      <a class="navbar-brand" href="#">ASKMARINHO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="container-fluid justify-content-center">
    <!-- pesquisa no meio -->
    <form class="d-flex">
      <input class="form-control me-2 input-style" type="search" placeholder="pesquisar" aria-label="pesquisar">
      <button class="btn" type="submit">
        <i class="fa fa-search lupa" aria-hidden="true"></i>
      </button>
    </form>
  </div>

  <div class="container-fluid justify-content-end">
    <!-- foto de perfil -->
    <img class="mr-0" src="../../assets/img/navbar/jessica silva 4.svg" alt="foto de perfil">

    <!-- engrenagem -->
    <div class="dropdown">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img class="mr-auto" src="../../assets/img/navbar/engrenagem.svg" alt="engrenagem">
            </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">editar perfil</a>
        <a class="dropdown-item" href="#">tags</a>
        <li>
          <hr class="dropdown-divider">
        </li>
        <a class="dropdown-item" href="#">sair</a>
      </div>
    </div>

    <!-- lua -->
    <img class="mr-2" src="../../assets/img/navbar/moon.svg" alt="lua">

    <!-- toggle -->
    <img src="../../assets/img/navbar/dark-mode.svg" alt="dark mode toggle">
  </div>
  </div>
</nav>






