.profile-head {
    transform: translateY(5rem)
}

.cover {
    background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
    background-size: cover;
    background-repeat: no-repeat
}

.tag-style {
    background-color: #f0dbce;
    width: 250px;
    border-radius: 15px;
}

.tag-style-2 {
    background-color: #d6efeb;
    width: 250px;
    height: 380px;
    border-radius: 15px;
}

ul.list-style li {
    list-style: none;
}

#font-style {
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: #FFB18C;
}

#font-style-2 {
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: #6dd3ce;
}

.mano {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #6DD3CE;
}

a:link {
    color: #6DD3CE;
    text-decoration: none;
}

a:active {
    color: #152e2d;
}

a:visited {
    color: #51e7e0;
}

a:hover {
    color: #8ee1dd
}

.warning-style {
    color: crimson;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}

.comment-style {
    color: #6dd3ce;
    font-size: 25px;
    cursor: pointer;
}

a.maoe-style {
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}

a.maoe-style:active {
    color: blueviolet;
}

a.maoe-style:visited {
    color: #929393;
}

a.maoe-style:hover {
    color: red;
}

.ml-50 {
    margin-left: 66px;
}

a.nome-post:visited {
    color: #929393;
    font-size: 20px;
    font-family: Roboto;
}

.borderline {
    border-radius: 15px;
}

.bg-postagem {
    background-color: #f4f4f4 !important;
}

.bg-color {
    background-color: #e8edec !important;
}

.bg-comment-modal {
    background: rgba(40, 48, 46, 0.87);
}

.bg-comment-modal2 {
    background: rgba(45, 54, 52, 0.84);
    border: none;
}

.fechar {
    background-color: #ff844b;
    color: #fff;
    font-weight: bold;
}

.fechar:hover {
    background-color: #ffa47a;
    border: 1px solid #fd7a3d;
}

.titulo-pl {
    font-family: Bebas Neue;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
}

.label-modal {
    font-family: Roboto;
    font-weight: bold;
    color: #ffffff;
}

.fechar:active {
    background-color: #bb5221;
    border: 1px solid #FFB18C;
}

.postar {
    background-color: #20ca7b;
    color: #fff;
    font-weight: bold;
}

.postar:hover {
    background-color: #3ed48e;
    border: 1px solid #17995c;
}

.postar:active {
    background-color: #0a7041;
    border: 1px solid #3ed48e;
}