.warning-style{
    color: crimson;
    font-size: 30px;
}

.comment-style {
    color: #6dd3ce;
    font-size: 35px;
}

a.maoe-style{
    font-size: 30px;
}

a.maoe-style:active{
    color: blueviolet;
}

a.maoe-style:visited{
    color: #929393;
}

a.maoe-style:hover{
    color: red;
}

.ml-50{
    margin-left: 66px;
}

a.nome-post:visited{
    color: #929393;
    font-size: 20px;
    font-family: Roboto;
}

.btn-profile {
    border-radius: 15px;
    border: none;
    color: #535353;
    background-color: #6dd3ce;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
}

.btn-delete{
    border: none;
    color: #FF9665;
    font-size: 30px;
}

.btn-editar {
    border: none;
    color: #6dd3ce;
    font-size: 35px;
}

.bg-postagem {
    background-color: #f4f4f4 !important;
}

.bg-color{
    background-color: #e8edec !important;
}
.borderline{
    border-radius: 15px;
}

.profile-head {
    transform: translateY(5rem)
}

.cover {
    background-image: url(https://i.imgur.com/aMWcqJM.png);
    background-size: cover;
    background-repeat: no-repeat
}

.tag-style {
    background-color: #f0dbce;
    width: 250px;
    border-radius: 15px;
}

ul.list-style li {
    list-style: none;
}

#font-style {
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: #FFB18C;
}

#font-style-2 {
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: #6dd3ce;
}

.mano {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #6DD3CE;
}

a:link {
    color: #5caca8;
    text-decoration: none;
}

a:hover {
    color: #3d3d3d
}