<div class="container-fluid">
    <div class="row">

        <div class="col-md-12 m-0">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8">

                    <div class="formulario mt-5 px-5">
                        <form class="formulario" action="">

                            <div class="text-center pt-5">
                                <p>Seja bem-vinde ao</p>
                                <h1>AskMarinho</h1>
                            </div>
                            <div>
                                <input [(ngModel)]='user.name' id="nome" name="nome" class="form-control my-4" type="text" placeholder="Qual é o seu lindo nome?" required>

                                <input [(ngModel)]='user.email' id="email" name="email" class="form-control my-4" type="email" placeholder="Qual seu email?" required>

                                <input [(ngModel)]='user.userName' id="usuario" name="usuario" class="form-control my-4" type="text" placeholder="Escolha seu nome de usuário" required>

                                <input (input)='confirmSenha($event)' id="senha" name="senha" class="form-control my-4" type="password" placeholder="Escolha sua nova senha" required>

                                <input [(ngModel)]='user.password' id="confirmaSenha" name="confirmaSenha" class="form-control my-4" type="password" placeholder="Confirme sua nova senha" required>

                                <input [(ngModel)]='user.urlImage' id="foto" name="foto" class="form-control my-4" type="text" placeholder="Link da foto" required>
                            </div>

                            <div>
                                <p class="text-center mt-3">Data de Nascimento</p>
                                <input [(ngModel)]='user.birth' min="01-01-1910" max="01/12/2021" id="data" name="data" type="date" class="form-control mb-3" required>
                            </div>

                            <div>
                                <p class="text-center mt-4 ">Gênero</p>

                                <Select (change)='generoUser($event)' class="form-control mb-5" name="genero" id="genero" required>
                                <option>Selecione:</option>
                                <option value="Masculino">Masculino</option>
                                <option value="Feminino">Feminino</option>
                                <option value="Não binário">Não binário</option>
                                <option value="Prefiro não declarar">Prefiro não declarar</option>
                            </Select>

                            </div>
                            <div class="termos mb-5">
                                <span>Ao clicar em Cadastrar, você concorda com nossos <a routerLink="/termo">Termos, Política de dados e Política de Cookies.</a></span>
                            </div>
                            <div class="d-flex justify-content-center pb-4 pt-5">
                                <input class="voltar mr-3" type="submit" routerLink="/login-page" value="Voltar">

                                <input (click)='cadastrar()' class="cadastrar ml-3" type="submit" value="Cadastrar">
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>