p {
    font-family: Bebas NEUE;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #929393;
}

.formulario {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #F4F4F4;
    border-radius: 10px;
    padding: 25px 50px;
}

::-webkit-input-placeholder {
    text-align: center;
}

input[type=email],
[type=password],
[type=text],
[type=date] {
    border: 1px solid #BAF2E9;
    width: 507px;
    height: 50px;
    margin: 14px 16px;
}

select {
    border: 1px solid #BAF2E9;
    width: 507px;
    height: 50px;
    margin: 14px 16px;
}

input[type=submit] {
    width: 325px;
    height: 57px;
    background: #FFCAB1;
    border-radius: 5px;
    margin: 14px 16px;
    border: none;
    font-family: Corbel;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    color: #F27A7A;
}

input[type=date] {
    border: 1px solid #BAF2E9;
    border-radius: 5px;
    font-family: Corbel;
    font-style: normal;
    font-weight: normal;
    padding: 10px;
}

input[type=submit]:hover {
    opacity: 0.9;
}

h1 {
    font-family: Bebas NEUE;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 84px;
    color: #6DD3CE;
}

.mt-15 {
    margin-top: 5rem;
}

#borda {
    border: 1px solid #BAF2E9;
}

.termos {
    margin-top: 10px;
    width: 368px;
    height: 29px;
}