<div class="container-fluid">

    <div class="row d-flex align-items-center">

        <div class="col-md-12">

            <div class="row d-flex justify-content-center">

                <div class="formulario mt-3">
                    <form class="formulario" action="">

                        <div class="text-center">
                            <p>Seja bem-vinde ao</p>
                            <h1>AskMarinho</h1>
                        </div>
                        <div>
                            <input class="form-control" type="text" placeholder="Qual é o seu lindo nome?" required>
                            <input class="form-control" type="email" placeholder="Qual seu email?" required>
                            <input class="form-control" type="text" placeholder="Escolha seu nome de usuário" required>
                            <input class="form-control" type="password" placeholder="Escolha sua nova senha" required>
                            <input class="form-control" type="password" placeholder="Confirme sua nova senha" required>
                        </div>
                        <div>
                            <p class="text-center mt-3" min="01-01-1910" max="01/12/2021">Data de Nascimento</p>
                            <input type="date" class="form-control" required>
                        </div>
                        <div>
                            <p class="text-center mt-4 ">Gênero</p>

                            <Select class="form-control" name="tipo" id="tipo" required>
                                <option value="">Selecione:</option>
                                <option value="Masculino">Masculino</option>
                                <option value="Feminino">Feminino</option>
                                <option value="Não binário">Não binário</option>
                                <option value="Prefiro não declarar">Prefiro não declarar</option>
                            </Select>

                        </div>
                        <div class="termos m-4">
                            <span>Ao clicar em <a href="#">Cadastrar</a>, você concorda com nossos <a href="#">Termos</a>, <a href="#">Política de dados</a> e Política de Cookies.</span>
                        </div>
                        <div>
                            <input type="submit" routerLink="/login-page" value="Cadastrar">
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>
</div>