.formulario {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 5px 5px;
}

input[type=email],
[type=password] {
    border: 1px solid #BAF2E9;
    width: 369px;
    height: 57px;
    margin: 14px 16px;
}

input[type=submit] {
    width: 204px;
    height: 57px;
    background: #FFCAB1;
    border-radius: 5px;
    margin: 14px 16px;
    border: none;
    font-family: Corbel;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #F27A7A;
}

input[type=submit]:hover {
    opacity: 0.9;
}

::-webkit-input-placeholder {
    text-align: center;
}

.hr-style {
    width: 295px;
    height: 0px;
    border: 1px solid #BAF2E9;
}

a:link {
    color: #6DD3CE;
    text-decoration: none;
}

a:active {
    color: #6DD3CE;
}

a:visited {
    color: #55A5A1;
}

a:hover {
    color: #84FDF7;
}

button {
    background-color: #6DD3CE;
    color: white;
    width: 369px;
    height: 57px;
    border-radius: 5px;
    border: none;
    font-family: Corbel;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 36px;
    margin-bottom: 10px;
    margin-left: 16px;
}

button:hover {
    opacity: 0.9;
}

p {
    font-family: Corbel;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    color: #929393;
    width: 400px;
    height: 111px;
}

h1 {
    font-family: Bebas NEUE;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 84px;
    color: #6DD3CE;
    margin-top: 2rem;
}

.mt-15 {
    margin-top: 5rem;
}

ul.style li{
    list-style: none;
}

.mt-150 {
    margin-top: 150px;
}

.ml-6 {
    margin-left: 30px;
}