<div class="container-fluid">

    <div class="row d-flex align-items-center justify-content-center">
        <h1 class="display-4">AskMarinho</h1>
    </div>

    <div class="row d-flex align-items-center justify-content-center">

        <div class="col-md-3 d-flex align-items-center justify-content-center">
            <img src="../../assets/img/login-page/askMarinho-logo.svg" alt="logo askMarinho">
        </div>
        <div class="col-md-4">
            <div class="row d-flex justify-content-center">
                <div class="formulario">

                    <form class="formulario" action="">
                        <div>
                            <input [(ngModel)]='userLogin.email' class="form-control" type="email" id="email" name="email" placeholder="Digite seu email">
                            <input [(ngModel)]='userLogin.password' class="form-control" type="password" id="senha" name="senha" placeholder="Digite sua senha">
                            <button (click)='entrar()' type="submit">Entrar</button>
                        </div>
                        <span><a href="#">Ih, esqueceu a senha?

                            </a></span>
                        <hr class="hr-style">
                        <div>
                            <a routerLink="/signup-page"><input type="submit" value="Criar nova conta"></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>