<div class="container-fluid mt-80">

    <div class="row d-flex justify-content-center align-items-center">
        <!-- Logo Marinho -->
        <div class="col-md-3 d-flex justify-content-center align-items-center p-0 mx-3">
            <img src="../../assets/img/login-page/askMarinho-logo.svg" alt="logo askMarinho">
        </div>
        <!-- /Logo Marinho -->


        <!-- DESCRIÇÃO LOGIN -->
        <div class="d-flex align-items-center">
            <ul class="style">
                <li>
                    <h1 class="display-4">AskMarinho</h1>
                </li>
                <li>
                    <p> O
                        <font color='#6DD3CE'>askmarinho</font> ajuda você a encontrar as repostas para as suas perguntas e compartilhar experiências com outras pessoas. </p>
                </li>
            </ul>
        </div>
        <!-- /DESCRIÇÃO LOGIN -->



        <div class="col-md-4 mt-5">

            <div class="mb-5 mx-2 px-2">

                <form class="formulario p-3" action="">
                    <div class="text-center">
                        <div class="form-group">
                            <input [(ngModel)]='userLogin.email' class="form-control p-0 mt-3" type="email" id="email" name="email" placeholder="Digite seu email">
                        </div>
                        <div class="form-group">
                            <input [(ngModel)]='userLogin.password' class="form-control p-0 mt-4" type="password" id="senha" name="senha" placeholder="Digite sua senha">
                        </div>
                        <div class="form-group">
                            <button (click)='entrar()' class="mt-3 form-control" type="submit">Entrar</button>
                        </div>

                        <span><a href="#">Ih, esqueceu a senha?

                            </a></span>
                        <hr class="hr-style">
                        <div>
                            <a routerLink="/signup-page"><input type="submit" class="my-3" value="Criar nova conta"></a>
                        </div>
                    </div>
                </form>


            </div>

        </div>

    </div>

</div>