.formulario {
    background-color: white;
    border-radius: 10px;
}

input[type=email],
[type=password] {
    border: 1px solid #BAF2E9;
    height: 47px;
}

input[type=submit] {
    height: 47px;
    background: #FFCAB1;
    border-radius: 5px;
    border: none;
    font-family: Corbel;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #F27A7A;
}

input[type=submit]:hover {
    opacity: 0.9;
}

::-webkit-input-placeholder {
    text-align: center;
}

.hr-style {
    width: 320px;
    height: 0px;
    border: 1px solid #BAF2E9;
}

a:link {
    color: #6DD3CE;
    text-decoration: none;
}

a:active {
    color: #6DD3CE;
}

a:visited {
    color: #55A5A1;
}

a:hover {
    color: #84FDF7;
}

button {
    background-color: #6DD3CE;
    color: white;
    height: 47px;
    border-radius: 5px;
    border: none;
    font-family: Corbel;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 26px;
    margin-bottom: 10px;
}

button:hover {
    opacity: 0.9;
}

p {
    font-family: Corbel;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    color: #929393;
    width: 340px;
    height: 111px;
}

h1 {
    font-family: Bebas NEUE;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 84px;
    color: #6DD3CE;
    margin-top: 2rem;
}

.mt-15 {
    margin-top: 5rem;
}

ul.style li {
    list-style: none;
    margin: 0px;
}

ul.style {
    margin: 0px;
    padding: 0px;
}

.mt-80 {
    margin-top: 80px;
}