<div class="container-fluid">
    <div class="row">

        <div class="col-md-12 my-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8">

                    <div class="formulario mt-5 px-5">
                        <form class="formulario" action="">

                            <div class="text-center pt-5">
                                <h1>Atualizar dados</h1>
                            </div>
                            <div>
                                <input [(ngModel)]='user.name' id="nome" name="nome" class="form-control my-4" type="text" placeholder="Qual é o seu lindo nome?" required>

                                <input [(ngModel)]='user.email' id="email" name="email" class="form-control my-4" type="email" placeholder="Qual seu email?" required>

                                <input [(ngModel)]='user.userName' id="usuario" name="usuario" class="form-control my-4" type="text" placeholder="Escolha seu nome de usuário" required>

                                <input [(ngModel)]='user.description' id="usuario" name="usuario" class="form-control my-4" type="text" placeholder="Conte sobre você" required>

                                <input (input)='confirmSenha($event)' id="senha" name="senha" class="form-control my-4" type="password" placeholder="Escolha sua nova senha" required>

                                <input [(ngModel)]='user.password' id="confirmaSenha" name="confirmaSenha" class="form-control my-4" type="password" placeholder="Confirme sua nova senha" required>

                                <input [(ngModel)]='user.urlImage' id="foto" name="foto" class="form-control my-4" type="text" placeholder="Link da foto" required>
                            </div>

                            <div>
                                <p class="text-center mt-3">Data de Nascimento</p>
                                <input [(ngModel)]='user.birth' min="01-01-1910" max="01/12/2021" id="data" name="data" type="date" class="form-control mb-3" required>
                            </div>

                            <div>
                                <p class="text-center mt-4 ">Gênero</p>

                                <Select (change)='generoUser($event)' class="form-control mb-5" name="genero" id="genero" required>
                                <option>Selecione:</option>
                                <option value="Masculino">Masculino</option>
                                <option value="Feminino">Feminino</option>
                                <option value="Não binário">Não binário</option>
                                <option value="Prefiro não declarar">Prefiro não declarar</option>
                            </Select>

                            </div>
                            <div class="termos mb-5">
                                <span>Ao clicar em <a href="#">Cadastrar</a>, você concorda com nossos <a href="#">Termos</a>, <a href="#">Política de dados</a> e Política de Cookies.</span>
                            </div>
                            <div class="d-flex justify-content-center pb-4 pt-5">
                                <input class="voltar mr-3" type="submit" value="Excluir conta" data-toggle="modal" data-target="#excluirConta">

                                <input class="voltar mr-3" type="submit" routerLink="/profile" value="Voltar">

                                <input (click)='atualizar()' class="cadastrar" type="submit" value="Atualizar">
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="excluirConta" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">Tem certeza que deseja excluir a sua conta?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <!-- <div class="modal-body">
          ...
        </div> -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                <button (click)='deleteConta()' data-dismiss="modal" type="button" class="btn btn-primary">Sim</button>
            </div>
        </div>
    </div>
</div>