.formulario {
    background-color: #F4F4F4;
    border-radius: 10px;
}

::-webkit-input-placeholder {
    text-align: center;
}

input[type=email],
[type=password],
[type=text],
[type=date] {
    border: 1px solid #BAF2E9;
    height: 50px;
}

select {
    border: 1px solid #BAF2E9;
    height: 50px;
}

input[type=date] {
    border: 1px solid #BAF2E9;
    border-radius: 5px;
    font-family: Corbel;
    font-style: normal;
    font-weight: normal;
}

input[type=submit]:hover {
    opacity: 0.9;
}

h1 {
    font-family: Bebas NEUE;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 84px;
    color: #6DD3CE;
}

label {
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 10px;
    font-family: Corbel;
    color: #6DD3CE
}

.mt-15 {
    margin-top: 5rem;
}

#borda {
    border: 1px solid #BAF2E9;
}

.termos {
    margin-top: 10px;
    height: 29px;
}

.voltar{
    padding: 10px;
}

.fechar {
    background-color: #ffcab1;
    color: #ee966e;
    font-weight: bold;
}

.fechar:hover {
    background-color: #fad0bc;
    border: 1px solid #dfb6a4;
}

.fechar:active {
    background-color: #bb5221;
    border: 1px solid #FFB18C;
}

.postar {
    background-color: #6dd3ce;
    color: #0db4ac;
    font-weight: bold;
}

.postar:hover {
    background-color: #aafaf6;
    border: 1px solid #6dd3ce;
}

.postar:active {
    background-color: #6dd3ce;
    border: 1px solid #6dd3ce;
}