<div class="container-fluid">

    <div class="row d-flex align-items-center">

        <div class="col-md-12">

            <div class="row d-flex justify-content-center">

                <div class="formulario mt-3">
                    <form class="formulario" action="">

                        <div class="text-center">
                            <h1>Editar Perfil</h1>
                        </div>
                        <div>
                            <label for="nome">Nome</label>
                            <input class="form-control" type="text" placeholder="Qual é o seu lindo nome?" required>
                            <label for="nome">Email</label>
                            <input class="form-control" type="email" placeholder="Qual seu email?" required>
                            <label for="nome">Nome de usuário</label>
                            <input class="form-control" type="text" placeholder="Escolha seu nome de usuário" required>
                            <label for="nome">Senha</label>
                            <input class="form-control" type="password" placeholder="Escolha sua nova senha" required>

                        </div>
                        <div>
                            <label for="nome">Data de nascimento</label>
                            <input type="date" class="form-control" required>
                        </div>
                        <div>
                            <label for="nome">Gênero</label>

                            <Select class="form-control" name="tipo" id="tipo" required>
                                <option value="">Selecione:</option>
                                <option value="Masculino">Masculino</option>
                                <option value="Feminino">Feminino</option>
                                <option value="Não binário">Não binário</option>
                                <option value="Prefiro não declarar">Prefiro não declarar</option>
                            </Select>

                        </div>

                        <div class="m-4">
                            <input type="submit" routerLink="/login-page" value="Atualizar">
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>
</div>