<footer>
    <div class="page-footer bg-footer font-small pb-4 pt-4 w-100">

        <div class="container">

            <div class="row w-100 d-flex">

                <div class="col-md-4 w-100 d-flex">

                    <h3 class="txt-askmarinho">ASKMARINHO</h3>

                </div>

                <div class="col-md-4 w-100 d-flex flex-column justify-content-center">
                    <h3>PARCEIROS</h3>
                    <ul>
                        <li class="mb-2">
                            <p>Parceiro 1</p>
                        </li>

                        <li class="mb-2">
                            <p>Parceiro 2</p>
                        </li>
                    </ul>

                </div>

                <div class="col-md-4 w-100 d-flex flex-column justify-content-center">
                    <h3>Quem Somos</h3>
                    <ul>
                        <li>
                            <p>Parceiro 2</p>
                        </li>
                    </ul>

                </div>

            </div>
        </div>
    </div>

    <div class="page-footer font-small bg-footer2 py-2 w-100">
        <div class="container">
            <div class="row w-100">

                <div class="col-md-8">
                    <p>Testando Aqui</p>
                </div>

                <div class="col-md-4">
                    <p>askmarinho@cladaora.com.br</p>
                </div>

            </div>

        </div>

    </div>

</footer>