<footer>
    <div class="page-footer bg-footer font-small pt-4">

        <div class="container">

            <div class="row d-flex">

                <div class="col-md-4 d-flex">

                    <h3 class="txt-askmarinho pt-3">© ASKMARINHO</h3>

                </div>

                <div class="col-md-4 d-flex flex-column">
                    <h3 class="txt-askmarinho pt-3">PARCEIROS</h3>
                    <ul class="style">
                        <li>
                            <a href="" target="_blank">Parceiro 1</a>
                        </li>

                        <li>
                            <a href="" target="_blank">Parceiro 2</a>
                        </li>
                    </ul>

                </div>

                <div class="col-md-4 d-flex flex-column">
                    <h3 class="txt-askmarinho pt-3">QUEM SOMOS</h3>
                    <ul class="style">
                        <li>
                            <a class="footerLink" routerLink="/sobre-nos" target="_blank">Sobre nós</a>
                        </li>
                        <li>
                            <a class="footerLink" href="https://ko-fi.com/askmarinho" target="_blank">Contribua com o projeto</a>
                        </li>
                        <li>
                            <a class="footerLink" href="mailto:askmarinho@gmail.com" target="_blank">Fale conosco</a>
                        </li>
                    </ul>

                </div>

            </div>
        </div>
    </div>

</footer>