.bg-footer{
    background-color: #6DD3CE;    
}

a {
    color: #696969;
    text-decoration: none;
}

a:hover {
    color: #ffcab1;
}

.txt-rodape {
    font-family: Corbel;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px
}

.txt-askmarinho {
    font-family: Bebas Neue;
    color: #BAF2E9;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 24px
}

ul.style li {
    list-style: none;
}
.dark-mode {
    background-color: black;
    color: white;
  }
  