<footer>
    <div class="page-footer bg-footer font-small pt-4">

        <div class="container">

            <div class="row d-flex">

                <div class="col-md-4 w-100 d-flex">

                    <h3 class="txt-askmarinho pt-3">ASKMARINHO</h3>

                </div>

                <div class="col-md-4  d-flex flex-column justify-content-center">
                    <h3>PARCEIROS</h3>
                    <ul class="style">
                        <li class="mb-2">
                            <p>Parceiro 1</p>
                        </li>

                        <li class="mb-2">
                            <p>Parceiro 2</p>
                        </li>
                    </ul>

                </div>

                <div class="col-md-4 w-100 d-flex flex-column justify-content-center">
                    <h3>QUEM SOMOS</h3>
                    <ul class="style">
                        <li>
                            <p><a routerLink="/sobre-nos">Sobre nós</a></p>
                        </li>
                        <li>
                            <a href="https://ko-fi.com/askmarinho" target="_blank">Contribua com o projeto!</a>
                        </li>
                    </ul>

                </div>

            </div>
        </div>
    </div>

    <div class="page-footer font-small bg-footer2 py-2 w-100">
        <div class="container text-center">
            <div class="row w-100">

                <div class="col-md-8">
                    <p>© AskMarinho, Generation.org</p>
                </div>

                <div class="col-md-4">
                    <a href="askmarinho@gmail.com">askmarinho@gmail.com</a>
                </div>

            </div>

        </div>

    </div>

</footer>